$border-color: #d4dbe0;
$hover-color: #a50600;
$contact-border-color: #dbdbdb;
$background-icon-color: #f4f7f9;
$contact-text-color: #565e66;
$link-color: #35a8e0;
$black: #000;
$white: #fff;
$hover-button-color: #0496df;
$text-color: #2f2f2f;
$background-footer: #274291;
